@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
background-image:url(/Users/srivemugunta/Desktop/MyWebsite/webapp/src/components/images/background-photo.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
background-color: black;
}